genres_original/
genres_images/
genres_music/
genres_user_test/
test_genres_images/
train_genres_images/
uploads/
npy/
MusicGenreClassifier.pth
MixedMusicGenreClassifier.pth
music_features.npz
instrument_features.npz